.nav{
    @include flex-center-vert;
    justify-content: space-between;

    &__link{
        &:hover {
            color:darken($button-bg-color, 8%);
        }
    
        &:active {
            color:darken($button-bg-color, 25%);
        } 
    }
    

    &__main{
        list-style: none;
        padding: 0rem;
        @include flex-center-vert;
        margin: 0rem;
            
    }

    &__item{
        margin-right: 1.5rem;
    }


    /**************************/
    /* BELOW 992px (Small Laptop)*/
    /**************************/

    &__button{
        @include respond-to(md){
            font-size: 1.5rem;
        }

    }

    &__item{        
        @include respond-to(md){
            margin-right: 0rem;
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
        }
    }




    /*MOBILE NAV*/
    &__hidden{
        @include respond-to(md){
            background-color: $mobile-nav-bg-color;
            backdrop-filter: blur(10px);
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height: 100vh;
            @include flex-center;
            flex-direction:column;
            transition: all 0.5s ease-in;
            opacity: 0;
			pointer-events: none;
            visibility: hidden;
        }
    }

    &__mobile{
        border: none;
        background: none;
        cursor: pointer;
        display: none;

        @include respond-to(md){
            display: block;
        }

        &--icon{
            height: 3rem;
            width: 3rem;
            color:$mobile-nav-icon-color;
        }

        &--icon[name="close-circle-sharp"]{
            display: none;
        }
    }

}


.nav-open{
    transition: all 0.5s ease-in;

    & .nav__main{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }

    & .nav__mobile--icon[name="close-circle-sharp"] {
        display: block;
        position: relative;
        z-index: 1;
    }

    & .nav__mobile--icon[name="menu-sharp"] {
        display: none;
    }
        
}



