.used-by{
    @include body(main-body--bold);
   

    &__logo-container{
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 40%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1rem;

        @include respond-to(md){
            width: 70%;
        }

        @include respond-to(xs){
            width: 100%;
            grid-template-columns: repeat(5, 1fr);
        }
    }

}