@mixin button-base{
    color:$color-white;
    background:$button-bg-color;
    display: inline-block;
    text-decoration:none;
    border-radius: .3125rem;
    padding: 1.125rem 1.5rem;
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
        background:darken($button-bg-color, 8%);
        transform: translateX(0rem) translateY(-0.3125rem);
    }

    &:active {
        background:darken($button-bg-color, 25%);
        transform: translateX(0rem) translateY(.125rem);
    } 
}

@mixin full-width-button{
    @include button-base;
    display: block !important;;
    width: 100% !important;
}

.button--primary{
    @include button-base;
}

